<%= link_to admin_stories_path(anchor: "story-#{@story.id}"), class: "btn btn-link" do %>
  &#8592; <%= I18n.t('text.back') %>
<% end %>
<h1 class="h2"><%= I18n.t('text.edit') %><%= Story.model_name.human %></h1>
<%= render "admin/stories/form", story: @story %>